.discover
  .intro
    .title
      +header-1()
      text-align: center
      margin-bottom: 40px
      padding-top: 80px
    .ecosystem-banner
      width: 100%
      padding: 80px 0 20px
      img
        width: 100%
    .para
      +para()
      margin-bottom: 16px
  .authenticator
    margin-top: 80px
    background-color: $colr-theme-light
    .authenticator-b
      padding: 80px 0
      .title
        +header-1()
        text-align: center
        margin-bottom: 40px
      .desc
        +para()
        text-align: justify
        padding-bottom: 40px
      .steps
        .step
          padding: 60px 0
          .step-img
            width: 400px
            margin: 0 auto 50px
            text-align: center
            &.small
              img
                width: 80%
            img
              width: 100%
          .step-name
            +header-2()
            text-align: center
            margin-bottom: 24px
          .step-desc
            +para()
            width: 60%
            margin: 0 auto
            text-align: center
  .network-type
    margin-top: 80px
    .network-type-b
      .title
        +header-1()
        text-align: center
        margin-bottom: 40px
      .desc
        +para()
        width: 70%
        text-align: center
        padding-bottom: 40px
        margin: 0 auto
      .types
        .types-b
          display: block
      .network-type-i
        margin-top: 80px
        .network-type-i-b
          display: table
          .network-type-i-med
            display: table-cell
            width: 30%
            vertical-align: middle
            text-align: left
            img
              width: 80%
          .network-type-i-ctx
            display: table-cell
            width: 70%
            vertical-align: middle
            padding: 0 20px
            .network-type-i-h
              +header-1-1()
              display: inline-block
              margin-bottom: 25px
              padding-bottom: 25px
              position: relative
              &:after
                content: ''
                display: block
                width: 50%
                height: 5px
                border-radius: 3px
                position: absolute
                bottom: 0
                left: 0
                background-color: $colr-theme-dark
            .network-type-i-desc
              +para()
            .network-type-i-link
              +link()
              font-size: 18px
              text-transform: uppercase
              font-weight: 600
              margin-top: 8px
              display: inline-block
        &.flip
          .network-type-i-b
            .network-type-i-med
              float: right
              text-align: right
            .network-type-i-ctx
              float: left

  .vault
    background-color: $colr-vault-bg
    margin-top: 80px
    padding: 80px 0
    .vault-b
      .title
        +header-1()
        color: $colr-white
        text-align: center
        margin-bottom: 40px
      .para
        +para()
        text-align: justify
        color: $colr-white
        padding-bottom: 40px
      .vault-opt
        text-align: center
        .ghost-btn
          &:hover
            background-color: $colr-white
            color: $colr-vault-bg
  .def-cntrs
    margin-top: 80px
    padding: 80px 0
    .def-cntrs-b
      .def-cntrs-title
        +header-1()
        text-align: center
        margin-bottom: 40px
      .def-cntrs-desc
        +para()
        text-align: justify
        padding-bottom: 40px
      .def-cntr-quote
        +header-3()
        text-align: center
        color: $colr-blue
        padding: 40px 0
      .def-cntrs-ls
        display: flex
        flex-wrap: wrap
        justify-content: center
        margin-top: 60px
        .def-cntrs-ls-i
          width: 20%
          display: inline-block
          padding: 60px 16px
          .def-cntrs-ls-i-icon
            width: 40px
            height: 40px
            margin: 0 auto
            margin-bottom: 24px
            background-position: center
            background-repeat: no-repeat
            background-size: 30px
            &.document
              background-image: url($cntr-document-url)
            &.download
              background-image: url($cntr-download-url)
            &.music
              background-image: url($cntr-music-url)
            &.pictures
              background-image: url($cntr-picture-url)
            &.videos
              background-image: url($cntr-video-url)
            &.public
              background-image: url($cntr-public-url)
            &.pubNames
              background-image: url($cntr-pub-name-url)
          .def-cntrs-ls-i-title
            +header-3()
            text-align: center
            margin-bottom: 12px
          .def-cntrs-ls-i-desc
            +para()
            text-align: center
  .data-types
    margin-top: 80px
    padding: 80px 0
    background-color: $colr-theme-light
    .data-types-b
      .data-types-title
        +header-1()
        text-align: center
        margin-bottom: 40px
      .data-types-desc
        +para()
        text-align: center
        padding-bottom: 40px
      .data-types-split
        .data-types-split-b
          display: table
          margin-top: 80px
          padding-bottom: 80px
        .data-types-split-i
          display: table-cell
          width: 50%
          &:first-child
            padding-right: 24px
          &:last-child
            padding-left: 24px
          .data-types-split-i-h
            +header-1-1()
            display: inline-block
            position: relative
            padding-bottom: 25px
            &:after
              content: ""
              position: absolute
              bottom: 0
              left: 0
              width: 50%
              height: 5px
              border-radius: 3px
              background-color: $colr-vault-bg
          .data-types-split-i-feat
            margin-top: 40px
            .data-types-split-i-feat-h
              +header-2-1()
              margin-bottom: 18px
            .data-types-split-i-feat-p
              +para()

.wizard
  .wizard-b
    background-color: $colr-wizard-bg
    padding: 40px
    .wizard-top-nav
      padding-bottom: 40px
      .wizard-top-nav-i
        width: 10px
        height: 10px
        border: 2px solid $colr-white
        border-radius: 50%
        display: inline-block
        margin-right: 8px
        line-height: 30px
        &.active
          background-color: $colr-white
    .wizard-cntr
      .wizard-i
        display: none
        &.active
          display: block
        .wizard-feat-name
          +header-2()
          color: $colr-white
          margin-bottom: 24px
        .wizard-feat-para
          +para()
          color: $colr-white
          margin-bottom: 24px
    .wizard-opts
      padding: 20px 0
      text-align: right
      .wizard-opt
        display: inline-block
        color: $colr-white
        &.hide
          display: none
        button
          font-size: 18px
          color: $colr-white
          background-color: transparent
          border: 0
          outline: 0
          position: relative
          line-height: 30px
          cursor: pointer
          &:after
            content: ""
            background-repeat: no-repeat
            display: block
            width: 30px
            height: 30px
            position: absolute
            top: 0
            background-position: center
            background-size: 24px
        &.left
          button
            padding-left: 40px
            padding-right: 20px
            &:after
              background-image: url($arrow-white-left-url)
              left: 0
        &.right
          button
            padding-right: 40px
            padding-left: 20px
            &:after
              background-image: url($arrow-white-right-url)
              right: 0
