.home
  .platform
    padding: 4px
    background-color: $bg-home-banner
    .platform-links
      background-color: $bg-home-banner
      .platform-links-b
        padding: 16px 0
        text-align: center
        .platform-link-i
          @extend .platform-i
          .icn
            &.active
              // background-color: $colr-blue-dark !important
  .home-banner
    width: 100%
    height: $home-banner-height
    background-color: $bg-home-banner
    background-image: url($home-banner-bg-url)
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    position: relative
    .home-banner-typo
      width: $home-banner-typo-width
      height: $home-banner-typo-height
      background-image: url($home-banner-typo-url)
      background-position: center
      background-size: contain
      background-repeat: no-repeat
      position: absolute
      top: $home-banner-typo-top
      left: $home-banner-typo-left
    .home-banner-link
      position: absolute
      bottom: 50px
      right: 50px
      width: 100%
      text-align: right
      a
        +link()
        font-size: 24px
        color: $colr-utube-red
        text-transform: uppercase
        line-height: 30px
        position: relative
        padding-left: 40px
        display: inline-block
        &:before
          content: ''
          width: 40px
          height: 30px
          background-image: url($youtube-logo-url)
          background-position: center
          background-size: 30px
          background-repeat: no-repeat
          display: block
          position: absolute
          top: 0
          left: 0
  .hom-bnr-2
    position: relative
    height: $home-banner-height
    position: relative
    overflow: hidden
    &:after
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-image: url($home-banner-lg-url)
      background-repeat: no-repeat
      background-size: cover
      background-position: left bottom
      z-index: -1
    .hom-bnr-2-cntx
      width: 30%
      position: absolute
      top: 50%
      left: 80px
      color: $colr-text
      transform: translate(0, -50%)
      .hom-bnr-2-h
        font-size: 48px
        font-weight: 600
        position: relative
        padding-bottom: 30px
        margin-bottom: 40px
        &:after
          content: ""
          width: 150px
          height: 5px
          border-radius: 3px
          background-color: $colr-white
          display: block
          bottom: 0
          left: 0
          position: absolute
      .hom-bnr-2-cntn
        font-size: 30px
  .hom-bnr-2-link
    bottom: 50px
    right: 50px
    width: 100%
    text-align: center
    padding: 25px 16px
    background-color: RGBA(201,213,207, 0.9)
    p
      font-size: 16px
    a
      +link()
      font-size: 24px
      color: $colr-utube-red
      text-transform: uppercase
      line-height: 30px
      position: relative
      padding-left: 40px
      display: inline-block
      &:before
        content: ''
        width: 40px
        height: 30px
        background-position: center
        background-size: 30px
        background-repeat: no-repeat
        display: block
        position: absolute
        top: 0
        left: 0
    .lft-sec-btn
      margin-top: 30px
      .btn
        background-color: $colr-utube-red
        min-width: 180px
        font-size: 14px
        border-radius: 24px
        border: 0
  .build-on-safe
    background-color: $colr-theme-light
    min-height: 300px
    .build-on-safe-b
      width: 100%
      .lay-40
        background-color: $colr-theme-dark
        padding-left: 80px
        padding-top: 200px
      .six-keys
        margin: 80px 0 80px -80px
        min-height: 400px
        width: 100%
        .six-keys-b
          padding: 24px
          background-color: $colr-white
          display: flex
          flex-wrap: wrap
          .six-key-i
            width: 50%
            padding: 24px
            +clearfix()
            .icn
              width: 36px
              height: 36px
              margin-bottom: 16px
              background-position: center
              background-size: contain
              background-repeat: no-repeat
              &.privacy
                background-image: url($key-feat-1-url)
              &.infrastructure
                background-image: url($key-feat-2-url)
              &.anonymity
                background-image: url($key-feat-3-url)
              &.application
                background-image: url($key-feat-4-url)
              &.sign-on
                background-image: url($key-feat-5-url)
              &.collaborate
                background-image: url($key-feat-6-url)
            .title
              +header-2-1()
              margin-bottom: 12px
            .desc
              +para()
              line-height: 24px
  .contribute
    .contribute-b
      .contribute-sec-1
      .contribute-sec-2
        padding: 120px 80px 120px 0
      .dual-tone-text
        margin-top: 200px
        position: relative
        float: right
        margin-right: 200px
        z-index: 0
        .contribute-img
          position: absolute
          top: 100%
          right: 0
          width: 250px
          transform: translate(80px, -30px)
          z-index: -1
      .contribute-i
        padding: 30px 0
        h3
          +header-2()
          margin-bottom: 25px
        p
          +para()
          margin-bottom: 25px
          text-align: left
        a
          +link()
          color: $colr-text()
          background-color: $colr-grey
          font-size: 18px
          padding: 8px 60px 8px 16px
          position: relative
          border-radius: 5px
          &:after
            content: ''
            width: 24px
            height: 100%
            position: absolute
            top: 0
            right: 8px
            background-size: 18px
            background-position: center
            background-repeat: no-repeat
            transition: right .2s linear
          &:hover
            text-decoration: none
            &:after
              right: 1%
        &.app
          a
            color: $colr-blue
            &:after
              background-image: url($arrow-blue-url)
        &.core
          a
            color: $colr-blue
            &:after
              background-image: url($arrow-blue-url)
  .standalone
    .standalone-b
      background-color: $colr-blue-dark
      .standalone-sec-1
      .standalone-sec-2
        padding: 120px 80px 120px 0
      .dual-tone-text
        margin-top: 100px
        position: relative
        float: right
        margin-right: 200px
        z-index: 0
        .standalone-img
          position: absolute
          top: 100%
          right: 0
          width: 250px
          transform: translate(80px, -30px)
          z-index: -1
      .standalone-i
        padding: 40px 0
        h3
          +header-2()
          margin-bottom: 25px
          color: $colr-white
        p
          +para()
          margin-bottom: 25px
          text-align: left
          color: $colr-white
        a
          +link()
          color: $colr-text()
          background-color: $colr-grey
          font-size: 18px
          padding: 8px 60px 8px 16px
          position: relative
          border-radius: 5px
          &:after
            content: ''
            width: 24px
            height: 100%
            position: absolute
            top: 0
            right: 8px
            background-size: 18px
            background-position: center
            background-repeat: no-repeat
            transition: right .2s linear
          &:hover
            text-decoration: none
            &:after
              right: 1%
        &.core
          a
            color: $colr-blue
            &:after
              background-image: url($arrow-blue-url)
