.page
  margin-top: 0px
  padding: 8px 0
  margin-bottom: 40px
  .header
    @extend .base
    margin-bottom: 20px
    text-align: center
    h1
      +header-1()
      margin-bottom: 20px
      padding-top: 40px
    p
      +para()
      text-align: center
  .content
    width: 100%
    padding: 4px 20%
    .vid-container
      padding: 5px
      width: 94%
      margin: 3%
      .tut-vid
        height: 100%
        width: auto
footer
  display: none
