.page
  margin-top: 0px
  margin-bottom: 80px
  width: 100%
  .header
    @extend .base
    margin-bottom: 20px
    text-align: center
    h1
      +header-1()
      margin-bottom: 20px
      padding-top: 40px
    p
      +para()
      text-align: center
  .content
    @extend .base
    width: $video-large-w
    align-items: center
    align-self: center
    align-content: center
    .video-container
      width: 100%
footer
  .footer-b
    padding: 6px
