@media screen and (min-width: 576px) and (max-width: 768px)
  .base
    width: $base-width-sm
  header
    .brand-logo
      padding: 16px
      .split
        height: 26px
        margin: 12px 10px
      .desc
        .extend
          display: none
    .opts
      padding: 16px
    nav
      a
        margin: 0 16px
  .dual-tone-text
    +header-1()
    text-transform: uppercase

  .layout4060
    width: 100%
    display: block
    .lay-40
      display: block
      width: 100%
    .lay-60
      display: block
      width: 100%

  .layout5050
    width: 100%
    display: block
    .lay-50
      display: block
      width: 100%

  .tabs
    padding-bottom: 60px
    .tabs-b
      .tab-nav
        padding: 40px 0
        .tab-nav-b
          .tab-nav-ib
            // width: 300%
            margin-left: 0
            .tab-nav-i
              // width: 100%
          .tab-nav-opts
            .tab-nav-opt
              width: 50%
              &.left
                text-align: left
              &.right
                text-align: right
      .tab-cntr
        &:active
          display: block
        .tab-cntr-img
          width: 100%
          display: block
          padding: 40px 0
        .tab-cntr-content
          width: 100%
          padding: 40px
          display: block
