@media screen and (min-width: 576px) and (max-width: 768px)
  .platform
    .platform-b
      p
        text-align: left
      .platform-api
        +clearfix
        .platform-i
          width: 100%
          float: left
  .docs
    .content-intro
    .content-comp
    .nodejs
    .java
    .dotnet
    .rust
      .rust-b
        .rust-cntr
          p
            text-align: left
          +clearfix
          .rust-i
            width: 50%
            float: left
    .other
      .other-b
        .other-cntr
          p
            text-align: left
          +clearfix
          .other-i
            width: 50%
            float: left
