@media screen and (min-width: 576px) and (max-width: 768px)
  .home
    .platform
      .platform-links
        .platform-links-b
          padding: 0 16px
          .icn
            width: 38px
            height: 38px
            background-size: 24px
          .name
            margin-top: 12px
          .platform-link-i
            min-width: auto
            width: 20%
    .home-banner
      height: $home-banner-height-sm
    .hom-bnr-2
      height: $home-banner-height-sm-2
      &:after
        height: 120%
        top: auto
        bottom: -15%
        background-image: url($home-banner-sm-url)
        background-position: left bottom
      .hom-bnr-2-cntx
        width: 90%
        transform: translate(0, 0)
        position: relative
        top: 0
        left: 0
        padding: 50px 30px 30px
        .hom-bnr-2-h
          font-size: 28px
          padding-bottom: 24px
          margin-bottom: 28px
        .hom-bnr-2-cntn
          font-size: 22px
    .hom-bnr-2-link
      .lft-sec-btn
        margin-top: 20px
        .btn
          min-width: 120px
          font-size: 12px
          border-radius: 18px
    .build-on-safe
      .build-on-safe-b
        .lay-40
          padding-left: 24px
          padding-top: 60px
          padding-bottom: 60px
        .six-keys
          margin: -50px 0 0
          padding: 24px
          .six-keys-b
            padding: 24px
    .contribute
      .contribute-b
        .contribute-sec-2
          padding: 40px 24px
        .dual-tone-text
          margin-top: 0
          padding-top: 60px
          padding-left: 24px
          position: relative
          float: none
          margin-right: 0
          .contribute-img
            display: none
        .contribute-i
          padding: 0 0 40px
          a
            font-size: 20px
            &:after
              width: 30px
              background-size: 20px
    .standalone
      .standalone-b
        .standalone-sec-2
          padding: 40px 24px
        .dual-tone-text
          margin-top: 0
          padding-top: 60px
          padding-left: 24px
          position: relative
          float: none
          margin-right: 0
          .standalone-img
            display: none
        .standalone-i
          padding: 0 0 40px
          a
            font-size: 20px
            &:after
              width: 30px
              background-size: 20px
