.page
  .header
  .content
    .tutorial-a
      .lay-40
        padding-left: 20px
        padding-top: 80px
      .vid-container
        margin: 20px
        .tut-vid
          iframe
            height: 320px
  .ending
    margin-top: 30px
    margin-bottom: 40px
