@media screen and (min-width: 769px) and (max-width: 1440px)
  .app-dev
    .intro
      .intro-b
        .intro-sec-1
          .dual-tone-text
            width: 80%
    .dapps
      .dapps-b
        .lay-60
          .dapps-cntr
            .sample-apps
              .sample-app-ls
                .sample-app-i
                  width: 50%
                  margin-top: 40px
