.page
  .header
  .content
    .tutorial-a
      .lay-40
        padding-left: 40px
        margin-top: 0px
        font-size: 12pt
      .vid-container
        margin: 20px
        .tut-vid
          iframe
            height: 2400px
  .ending
    margin-top: 30px
    margin-bottom: 40px
